@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Platypi", sans-serif;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.upward-animation {
  animation: move-up 3.5s ease; /* Animation name, duration, timing function */
  pointer-events: none; /* Prevent user from interacting with the element */
}

@keyframes move-up {
  from {
    transform: translateY(-70px); /* Start from current position */
      opacity: 1; /* Start fully visible */
  }
  to {
    transform: translateY(-300px); /* Move upwards by 100px */
      opacity: 0; /* Fade out to transparent */

  }
}
